<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/head.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/footer.css">
    <link rel="stylesheet" href="/static/About.css">
    <link rel="stylesheet" type="text/css" href="/static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script>
	  function facebook()
	   {
		  alert("facebook id = Patel Primal \n Insta Id = Primal_4796 \n twiter Id = Patel Primal \n Linkdin Id = Patel primal")
	   } 
    </script>
  </head>

<div class="P1">
  <li class="P2">
    <p class="P3">
      <img class="P4" src="/static/logo.png" alt="Load">
    </p>
  </li>
  <ul class="P5">
    
    <li class="P2"><a class="P6"  href="/contact/">Contact</a></li>
    <li class="P2"><a class="P6" href="/header/">Home</a></li>
    <li class="P2"><a class="P6" href="/service/">Service</a></li>
    <li class="P2"><a class="P6" style="color: red;" href="/AboutUs/">About Us</a></li>
    <li class="P2"><a class="P6" href="/blog/">Blog</a></li>
   
  </ul>
</div>
<br><br><br><br><br>



<body>

  <h1 style="font-family: Arial, Helvetica, sans-serif; background-color: #000000; text-align: center;
   color: white;"> About Us</h1>

   <br>
   <br>
   <br>

  

<ion-card _ngcontent-pdm-c145="" mode="ios" class="ion-padding ion-no-margin ion-margin-bottom ios hydrated"><ion-card-content _ngcontent-pdm-c145="" mode="ios" class="ion-padding ios card-content-ios hydrated">
  <h3 _ngcontent-pdm-c145="" style="color: #3d3f42; font-size: 17px; line-height: 1.4;">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DigiLocker is a flagship initiative of Ministry of Electronics &amp; IT (MeitY) under Digital India programme. 
     DigiLocker aims at ‘Digital Empowerment’ of citizen by providing access to authentic digital documents to citizen’s
      digital document wallet. The issued documents in DigiLocker system are deemed to be at par with original physical documents 
      as per Rule 9A of the Information Technology (Preservation and Retention of Information by Intermediaries providing Digital Locker 
      facilities) Rules, 2016 notified on February 8, 2017 vide G.S.R. 711(E). </h3>


<br><br><br>
      
    <div _ngcontent-pdm-c145="" class="ion-margin-top"><ion-text _ngcontent-pdm-c145="" color="dark" mode="ios" class="ion-color ion-color-dark md hydrated">
      <strong _ngcontent-pdm-c145="">Benefits to Citizens</strong>
      <br><br>
      <ol _ngcontent-pdm-c145="">
       <li _ngcontent-pdm-c145="">  &nbsp;&nbsp;&nbsp;&nbsp;Important Documents Anytime, Anywhere! </li>
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Authentic Documents, Legally at Par with Originals. </li>
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Digital Document Exchange with the consent of the citizen. </li>
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Faster service Delivery- Government Benefits, Employment, Financial Inclusion, Education, Health. </li>
      </ol>
      <br>
      <br>
      <br>

      <strong _ngcontent-pdm-c145=""> Benefits to Agencies </strong>
      <br>
      
      <br>

      <ol _ngcontent-pdm-c145="">
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Reduced Administrative Overhead: Aimed at the concept of paperless governance. It reduces the administrative
           overhead by minimizing the use of paper and curtailing the &nbsp;&nbsp;&nbsp;&nbsp;verification process. </li>
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Digital Transformation: Provides trusted issued documents. Issued Documents available via DigiLocker are fetched in real-time directly from the issuing agency. </li>
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Secure Document Gateway: Acts as a secure document exchange platform like payment gateway between trusted issuer and trusted Requester/Verifier with the consent of the &nbsp;&nbsp;&nbsp;&nbsp;citizen. </li>
        <li _ngcontent-pdm-c145=""> &nbsp;&nbsp;&nbsp;&nbsp;Real Time Verification: Provides a verification module enabling government agencies to verify data directly from issuers after obtaining user consent. </li>
      </ol>
      <br>
      <br>
      <br>

      <br>


    </ion-text>
  </div>
</ion-card-content>
</ion-card>







</body>


{% include "footer.html" %}

</html>