<html>
  <head>
    <title>About Us</title>
    <link rel="stylesheet" href="/static/head.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/./footer.css">
    <link rel="stylesheet" href="/static/./About.css">
    <link rel="stylesheet" href="/static/./blog.css">
    <link rel="stylesheet" type="text/css" href="/static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script>
	  function facebook()
	   {
		  alert("facebook id = Patel Primal \n Insta Id = Primal_4796 \n twiter Id = Patel Primal \n Linkdin Id = Patel primal")
	   } 
    </script>
  </head>

<div class="P1">
  <li class="P2">
    <p class="P3">
      <img class="P4" src="/static/logo.png" alt="Load">
    </p>
  </li>
  <ul class="P5">
    <li class="P2"><a class="P6" href="/contact/">Contact</a></li>
    <li class="P2"><a class="P6" href="/header/">Home</a></li>
    <li class="P2"><a class="P6" href="/service/">Service</a></li>
    <li class="P2"><a class="P6" href="/AboutUs/">About Us</a></li>
    <li class="P2"><a style="color: red;" href="/blog/">Blog</a></li>
   
  </ul>
</div>
<br><br><br><br><br>



<body>

    
  <h1 style="font-family: Arial, Helvetica, sans-serif; background-color: #000000; text-align: center;
  color: white;"> Blog </h1>

  <br>
  <br>
  <br>

  <div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 col-sm-12">
             <div class="about_img"><img src="/static/dglocker2.jpg" style="width: 800px; height: 500px;"></div>
             <div class="like_icon"><img src="/static/like-icon.png"></div>
             <h2 class="most_text">Most Powerful Security Provide by <br>DGLocker </h2>
             <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam, quis</p>
             <div class="social_icon_main">
                <div class="read_bt"><a href="/static/#">Read More</a></div>
             </div>
          </div>
             <div class="about_main">
                <h1 class="follow_text">CONNECT & FOLLOW</h1>
                <div class="follow_icon">
                   <ul>
                      <li><a href="/static/#"><img src="/static/fb-icon-1.png"></a></li>
                      <li><a href="/static/#"><img src="/static/twitter-icon-1.png"></a></li>
                      <li><a href="/static/#"><img src="/static/linkedin-icon-1.png"></a></li>
                      <li><a href="/static/#"><img src="/static/instagram-icon-1.png"></a></li>
                   </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- blog section end --> 
 
<!--second blog image start-->
  <div class="about_section layout_padding">
    <div class="container">
       <div class="row">
          <div class="col-lg-8 col-sm-12">
             <div class="about_img"><img src="/static/dglocker1.jpg" style="width: 800px; height: 500px;"></div>
             <div class="like_icon"><img src="/static/like-icon.png"></div>
             <h2 class="most_text">Most of People On Earth are Use  <br>DGLocker </h2>
             <p class="lorem_text">Lorem ipsum dolor sit amet, consectetur adipiscing 
                elit, sed do eiusmod tempor incididunt ut labore et dolore<br> magna aliqua. Ut enim ad minim veniam, quis</p>
             <div class="social_icon_main">
                <div class="read_bt"><a href="/static/#">Read More</a></div>
             </div>
          </div>
             <div class="about_main">
                <h1 class="follow_text">CONNECT & FOLLOW</h1>
                <div class="follow_icon">
                   <ul>
                      <li><a href="/static/#"><img src="/static/fb-icon-1.png"></a></li>
                      <li><a href="/static/#"><img src="/static/twitter-icon-1.png"></a></li>
                      <li><a href="/static/#"><img src="/static/linkedin-icon-1.png"></a></li>
                      <li><a href="/static/#"><img src="/static/instagram-icon-1.png"></a></li>
                   </ul>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- blog section end --> 
 

</body>




{% include "footer.html" %}

</html>