
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Footer Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/footer.css">
  <link rel="stylesheet" type="text/css" href="/static/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  <script>
	function facebook()
	{
		alert("facebook id = Patel Primal \n Insta Id = Primal_4796 \n twiter Id = Patel Primal \n Linkdin Id = Patel primal")
	}
  </script>
</head>
<body>

  <footer class="footer">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Startup</h4>
  	 			<ul>
  	 				<li><a href="/AboutUs">about us</a></li>
  	 				<li><a href="/service">our services</a></li>
  	 				<li><a href="/static/#">privacy policy</a></li>
  	 				<li><a href="/static/#">affiliate program</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>get help</h4>
  	 			<ul>
  	 				<li><a href="/static/#">FAQ</a></li>
  	 				<li><a href="/static/#">Security</a></li>
  	 				<li><a href="/static/#">returns</a></li>
  	 				<li><a href="/static/#">safty Rating</a></li>
  	 				<li><a href="/static/#">payment options</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>services</h4>
  	 			<ul>
  	 				<li><a href="/static/#">Passport Locker</a></li>
  	 				<li><a href="/static/#">Identity Locker</a></li>
  	 				<li><a href="/static/#">jewelary Locker</a></li>
  	 				<li><a href="/static/#">Important Things Locker</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4 style="margin-bottom: 25px;">follow us</h4>
  	 			<div class="social-links">
  	 				<!-- <a href="/static/#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="/static/#"><i class="fab fa-twitter"></i></a>
  	 				<a href="/static/#"><i class="fab fa-instagram"></i></a>
  	 				<a href="/static/#"><i class="fab fa-linkedin-in"></i></a> -->

					<p style="color: white; margin-bottom: 5px;">Patel Om :</p>
					<a href="https://www.facebook.com/profile.php?id=100036265099714&mibextid=ZbWKwL"   > <img src="/static/fb-icon-1.png"  style="color: white;"> </a>
					<a href="https://instagram.com/om_patel_2004?igshid=YzAwZjE1ZTI0Zg=="   > <img src="/static/instagram-icon-1.png"  style="color: white;"> </a>
					<a href="https://www.linkedin.com/in/patel-om-559362251?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"   > <img src="/static/linkedin-icon-1.png"  style="color: white;"> </a>
					<a href="https://www.facebook.com/profile.php?id=100036265099714&mibextid=ZbWKwL"   > <img src="/static/twitter-icon-1.png"  style="color: white;"> </a>

					<p style="color: white; margin-bottom: 5px;">Patel Primal :</p>
					<a href="https://www.facebook.com/profile.php?id=100036265099714&mibextid=ZbWKwL"   > <img src="/static/fb-icon-1.png"  style="color: white;"> </a>
					<a href="https://instagram.com/om_patel_2004?igshid=YzAwZjE1ZTI0Zg=="   > <img src="/static/instagram-icon-1.png"  style="color: white;"> </a>
					<a href="https://www.linkedin.com/in/patel-om-559362251?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"   > <img src="/static/linkedin-icon-1.png"  style="color: white;"> </a>
					<a href="https://www.facebook.com/profile.php?id=100036265099714&mibextid=ZbWKwL"   > <img src="/static/twitter-icon-1.png"  style="color: white;"> </a>
					<!-- <input class="T1" type="button" value="fa-facebook-f" onclick="facebook()"> -->
					<!-- <input class="T1" type="button" value="fa-instagram" onclick="facebook()">
					<input class="T1" type="button" value="fa-twitter" onclick="facebook()">
					<input class="T1" type="button" value="fa-linkedin-in" onclick="facebook()"> -->
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
  </footer>

</body>
</html>
