<html>
  <head>
    <link rel="stylesheet" href="/static/head.css">
  </head>

<div class="P1">
  <li class="P2">
    <p class="P3">
      <img class="P4" src="/static/logo.png" alt="Load">
    </p>
  </li>
  <ul class="P5">
    <li class="P2"><a class="P6" href="/contact">Contact</a></li>
    <li class="P2"><a class="P6" href="/header">Home</a></li>
    <li class="P2"><a class="P6" href="/service">Service</a></li>
    <li class="P2"><a class="P6" href="/AboutUs">About Us</a></li>
    <li class="P2"><a class="P6" href="/blog">Blog</a></li>
   
  </ul>
</div>
</html>
