<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/static/header1.css">
    <title>Digital Locker</title>
</head>
<body>
	    <div class="container">
        <div class="navbar">
            <div class="menu">
                
                <h3 class="logo">
                    <img src="/static/logo.png" >
                </h3>
                <div class="hamburger-menu" style="padding-top: 10px; padding-bottom: 10px; padding-left: 900px;">
                    <div class="bar"></div>
                </div>
            </div>
        </div>
        <div class="main-container">
            <div class="main">
                <header>
                    <div class="overlay">
                        <marquee>
                        <h2 class="title">👉🏻 Store your valuables with Care. 👈🏻   ➡️  🔐 Giving You Peace Of Mind. ⬅️   ⚠️ Storage, You Can't Live Without It. ⚠️ </h2>
                    </marquee>
                </header>
            </div>
        </div>
        <div class="links">
            <ul>
                <li class="active">
                    <a href="/" style="--i: 0.05s; color: red;">Home</a>
                </li>
                <li>
                    <a href="/AboutUs/" style="--i: 0.1s">About</a>
                </li>
                <li>
                    <a href="/blog/" style="--i: 0.15s">Blog</a>
                </li>
                <li>
                    <a href="/service/" style="--i: 0.2s">Service</a>
                </li>
                <li>
                    <a href="/contact/" style="--i: 0.25s">Contact</a>
                </li>
                <li>
                    <a href="/" style="--i: 0.25s">Logout</a>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript" src="/static/header.js"></script>
</body>
</html>